# TeX datoteke za latehovanje

*.aux
*.bbl
*.blg
*.dvi
*.log
*.tps

# Direktorijumi za IDE

.vscode/

# Ostale datoteke 

/predavanja/html-kostur.html
/predavanja/пример001.js
/predavanja/пример002.js
/_layouts/default.html
.DS_Store

# Node.js direktorijumi

node_modules/
