# Ignorisanje svih TeX datoteka koje se generisu pri latehovanju
*.aux
*.bbl
*.blg
*.dvi
*.log
*.tps

# Ignorisanje svih direktorijuma koji kreiraju razni IDE
.vscode/

# Ignorisanje svih node_modules direktorijuma za Node.js projekte
node_modules/
package-lock.json

# Ignorisanje ostalih datoteka
/predavanja/html-kostur.html
/predavanja/пример001.js
/predavanja/пример002.js
/_layouts/default.html
.DS_Store