body {
    background-color: lightgrey;
}

h1 {
    color: #FF2200;
    font-size: 3em;
}

p {
    background-color: darkgrey;
    color: darkgreen;
    font-size: 2em;
}

a{
    color:blue;
    font-size: 2em;
}