body {
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: darkorchid;
    font-size: 20px !important;
    padding: 15px 20px;
}

header nav {
    height: 100%;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

main {
    margin: 0 50px;
}

h1 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}