<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Statičko serviranje datoteka</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Početna</a>
        </nav>
    </header>
    <main>
        <h1>Statičko serviranje datoteka!</h1>
        <p>Ova stranica je statički servirana veb pregledaču od strane Node.js serverskog okruženja. Statičko serviranje
            podrazumeva da je dokument isporučen u svojoj izvornoj formi, kao da je zahtev uručen ka samom sistemu
            datoteka. Primetimo da su CSS stilovi navedeni kao da im se pristupa iz "public" direktorijuma na serverskom
            sistemu datoteka.</p>
    </main>
</body>

</html>