<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (student !== null) { %>
        <title>Dobrodošli <%= student.username %>!</title>
    <% } else { %>
        <title>Nepoznat student!</title>
    <% }; %>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Izloguj se iz sistema</a>
        </nav>
    </header>
    <main>
        <% if (student !== null) { %>
            <h1>Studentska stranica za studenta <%= student.username %></h1>

            <h3>Informacije:</h3>
            <table class="table">
            <% for (let key in student) { %>
                <tr>
                    <td><%= key %><td>
                    <td><%= student[key] %><td>
                </tr>
            <% } %>
            </table>
        <% } else { %>
            <h1>Ne postoje informacije za unetog studenta!</h1>
        <% }; %>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>